@import 'tailwindcss';
@theme {
  --font-vazir: 'Vazir';

  --color-primary: var(--color-primary-40);
  --color-on-primary: var(--color-white);
  --color-primary-container: var(--color-primary-90);
  --color-on-primary-container: var(--color-primary-10);
  --color-primary-fixed: var(--color-primary-90);
  --color-primary-fixed-dim: var(--color-primary-80);
  --color-on-primary-fixed: var(--color-primary-10);
  --color-on-primary-fixed-variant: var(--color-primary-30);
  --color-secondary: var(--color-secondary-40);
  --color-on-secondary: var(--color-white);
  --color-secondary-container: var(--color-secondary-90);
  --color-on-secondary-container: var(--color-secondary-10);
  --color-secondary-fixed: var(--color-secondary-90);
  --color-secondary-fixed-dim: var(--color-secondary-80);
  --color-on-secondary-fixed: var(--color-secondary-10);
  --color-on-secondary-fixed-variant: var(--color-secondary-30);
  --color-tertiary: var(--color-tertiary-40);
  --color-on-tertiary: var(--color-white);
  --color-tertiary-container: var(--color-tertiary-90);
  --color-on-tertiary-container: var(--color-tertiary-10);
  --color-tertiary-fixed: var(--color-tertiary-90);
  --color-tertiary-fixed-dim: var(--color-tertiary-80);
  --color-on-tertiary-fixed: var(--color-tertiary-10);
  --color-on-tertiary-fixed-variant: var(--color-tertiary-30);
  --color-error: var(--color-error-40);
  --color-on-error: var(--color-white);
  --color-error-container: var(--color-error-90);
  --color-on-error-container: var(--color-error-10);
  --color-surface: var(--color-neutral-95);
  --color-surface-dim: var(--color-neutral-90);
  --color-surface-bright: var(--color-neutral-98);
  --color-on-surface: var(--color-neutral-10);
  --color-outline: var(--color-neutral-50);

  --text-display-lg: 57px;
  --text-display-lg--line-height: 64px;
  --text-display-md: 45px;
  --text-display-md--line-height: 52px;
  --text-display-sm: 36px;
  --text-display-sm--line-height: 44px;
  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-md: 28px;
  --text-headline-md--line-height: 36px;
  --text-headline-sm: 24px;
  --text-headline-sm--line-height: 32px;
  --text-title-lg: 22px;
  --text-title-lg--line-height: 28px;
  --text-title-md: 16px;
  --text-title-md--line-height: 24px;
  --text-title-sm: 14px;
  --text-title-sm--line-height: 20px;
  --text-label-lg: 14px;
  --text-label-md: 12px;
  --text-label-md--line-height: 16px;
  --text-label-sm: 11px;
  --text-label-sm--line-height: 16px;
  --text-body-lg: 16px;
  --text-body-lg--line-height: 24px;
  --text-body-md: 14px;
  --text-body-md--line-height: 20px;
  --text-body-sm: 12px;
  --text-body-sm--line-height: 16px;

  --animate-slide-in: slide-in 0.3s ease;
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translate(0, -10%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  --animate-slide-up: slide-up 0.3s ease forwards;
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translate(0, 50%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  --animate-slide-down: slide-down 0.3s ease forwards;
  @keyframes slide-down {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 50%);
    }
  }

  --animate-fade-in: fade-in 0.3s ease forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-fade-out: fade-out 0.3s ease forwards;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
